.vp-content__block {
    width: 800px; 
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 black;
}

.video-container {
    flex-grow: 1;
}

.vp-buttons__block {
    background-color: #000000;
    flex-grow: 0;
    display: flex;
}

.vp-buttons__block .vp-button {
    border: 0; 
    cursor: pointer; 
    background-color: transparent; 
    padding: 0;
    color: white; 
    padding: 10px;
    font-size: 20px;
}

.vp-timer_block {
    flex-grow: 1;
    display: flex;
}

.progress_bar {
    flex-grow: 1;
}

.vp-timer_block .vp-button {
    font-size: 16px;
    padding: 10px 0;
}

.left_buttons {
    width: fit-content;
    display: flex;
    justify-content: start;
}

.progress_bar-content {
    height: 100%;
}